@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Playfair+Display:ital,wght@0,600;0,700;1,500&display=swap');

body {
  font-family: 'Playfair Display';
}

.tea-page {
  padding: 40px;
  text-align: center;
  background-color: #f8f8f8;
}

.tea-title {
  font-size: 32px;
  color: #c0392b;
  margin-bottom: 40px;
  /* font-family: 'Playfair Display'; */
  font-weight: 700;
  letter-spacing: 0.05em;
}

.tea-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.tea-card {
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tea-card:hover {
  transform: scale(1.03);
}

.tea-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.tea-card h2 {
  margin: 15px 0 10px 0;
  font-size: 24px;
  /* font-family: 'Playfair Display'; */
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #1a1a1a;
  line-height: 1.3;
}

.tea-card p {
  font-size: 14px;
  color: #555;
}

.tea-card h3 {
  color: #27ae60;
}

.tea-card button {
  background-color: #c0392b;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
/* s: 8px; */
  cursor: pointer;
  font-size: 16px;
  margin-top: auto;
}

.tea-card button:hover {
  background-color: #a93226;
}